.accommodation {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0px 25px 25px;
}

.accommodation__banner {
  width: auto;
}

.accommodation__image {
  width: 100%;
  height: auto;
}

.accommodation__section {
  display: flex;
  flex-direction: column;
}

.accommodation__contact {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.accommodation__link {
  color: hsl(var(--color-text));
}

@media (min-width: 640px) {
  .accommodation {
    grid-template-columns: auto clamp(264px, 30%, 364px);
    grid-template-rows: min-content auto;
  }

  .accommodation__banner {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .accommodation__section--hotel {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .accommodation__section--aside {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
