.speaker {
  display: grid;
}

.speaker__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 20px;
}

.speaker__section--image {
  padding-bottom: 0px;
}

.speaker__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.speaker__image--w140 {
  overflow: hidden;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  min-width: 140px;
}

.speaker__heading {
  margin: 0;
  padding-bottom: 15px;
}

.speaker__heading--center {
  text-align: center;
  padding-bottom: 0px;
}

@media (min-width: 320px) {
  .speaker__section--papers .featured-article {
    --line-count: 5;
    --multiplicator: 0.6;
    height: 37.5vw;
    max-height: 120px;
    max-width: 310px;
  }

  .speaker__section--papers .featured-article__aside {
    width: 58vw;
    padding: 10px;
    background-color: hsl(var(--color-background));
  }

  .speaker__section--papers .featured-article__image {
    height: 100%;
    max-width: 100px;
    object-fit: cover;
    max-width: 100px;
  }
}

@media (min-width: 640px) {
  .speaker {
    grid-template-columns: auto clamp(264px, 30%, 364px);
  }

  .speaker__section--papers .featured-article__aside {
    width:  68.75vw;
  }
  .speaker__heading--center {
    text-align: start;
  }

  .speaker__section--image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    padding: 45px 35px 20px;
  }

  .speaker__image {
    justify-content: start;
    align-items: start;
  }

  .speaker__section--speaker {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    padding: 45px 35px 20px;
  }

  .speaker__section--papers {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    padding: 0px 35px 45px;
  }
}
