.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.banner__main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  padding: 30px 25px ;
	width: 320px;
	height: 370px;
	gap: 10px;
	background-color: hsl(var(--color-blue-accent));
}

.banner__default {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  padding: 10px;
	width: 220px;
	height: 120px;
	gap: 6px;
}

.banner:nth-child(odd) {
	flex-direction: row-reverse;
}
.banner:nth-child(1) {
	background-color: hsl(var(--color-green-accent));
}
.banner:nth-child(2) {
	background-color: hsl(var(--color-yellow-accent));
}
.banner:nth-child(3) {
	background-color: hsl(var(--color-magenta-accent));
}

.banner__image {
	width: 100%;
}
.banner__image__hidden {
	display: none;
}

.banner__label {
	font-size: var(--caption-font-size);
	font-weight: var(--caption-font-weight);
	line-height: var(--caption-line-height);
	margin: 0px;
	display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-width: 147px;
}

.banner__title_size_50 {
  font-size: 50px;
	font-weight: var(--caption-font-weight);
	line-height: 70px;
	margin: 0px 0px ;
}

.banner__label_size_24 {
  font-size: 24px;
	font-weight: var(--caption-font-weight);
	line-height: 30px;
	margin: 0px 0px ;
}

@media (width >= 640px) {
	.banner__main {
		padding: 30px 25px ;
		width: 351px;
		min-width: 351px;
		height: 334px;
	}

	.banner__default {
		padding: 25px;
		width: 351px;
		min-width: 351px;
		height: 260px;
	}

	.banner__label {
		min-width: 301px;
		font-size: var(--title-font-size);
	  font-weight: var(--title-font-weight);
	  line-height: var(--title-line-height);
	}

	.banner__image__hidden {
		display: block;
	}

	.banner__button {
		display: none
	}
}