.calendar {
  width: 270px;
  height: 62px;
  position: relative;
}

.calendar::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: hsl(var(--color-disabled));
  position: absolute;
  left: -10px;
  top: 0px;
}

.calendar--active::before {
  background-color: hsl(var(--color-blue-accent))
}

.calendar__title {
  margin: 0px;
}
.calendar__text {
  line-height: 14px;
}

@media (width >= 640px) {
  .calendar {
    width: 314px;
  }
}
