.calendar-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-left: 4px solid hsl(var(--color-disabled));
  padding-left: 10px;
  margin-left: -16px;
}

.calendar-article--active {
  border-left-color: hsl(var(--color-blue-accent))
}

.calendar-article__title {
  margin: 0;
}
.calendar-article__text {
  line-height: 14px;
  margin: 0;
}
