.featured-article {
  --line-count: 4;
  --multiplicator: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  height: 37.5vw;
}

.featured-article__aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.featured-article__link {
  color: hsl(var(--color-text));
  text-decoration: none;
}

.featured-article:nth-child(even) {
  flex-direction: row;
}

.featured-article:nth-child(odd) {
  flex-direction: row-reverse;
}

.featured-article:nth-child(1n) {
	background-color: hsl(var(--color-green-accent));
}
.featured-article:nth-child(2n) {
	background-color: hsl(var(--color-magenta-accent));
}
.featured-article:nth-child(3n) {
	background-color: hsl(var(--color-yellow-accent));
}
.featured-article:nth-child(4n) {
	background-color: hsl(var(--color-blue-accent));
}

.featured-article__image {
  width: 31.25vw;
  height: auto;
}

.featured-article__label {
  margin: 0;
  padding: 0;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-count);
  -webkit-box-orient: vertical;
  height: calc(var(--line-count) * var(--multiplicator) * var(--title-line-height));
  font-size: calc(var(--multiplicator) * var(--title-font-size));
  line-height: calc(var(--multiplicator) * var(--title-line-height));
}

@media (min-width: 320px) {
  .featured-article {
    --multiplicator: 0.6;
  }

  .featured-article__aside {
    width: 68.75vw;
  }
}

@media (min-width: 350px) {
  .featured-article {
    --multiplicator: 0.7;
  }
}

@media (min-width: 424px) {
  .featured-article {
    --multiplicator: 0.8;
  }
}

@media (min-width: 640px) {
  .featured-article {
    --multiplicator: 1;
    --line-count: 3;
    height: 25.390625vw;
  }

  .featured-article__aside {
    width: 34.27734375vw;
    padding: 25px;
  }

  .featured-article__image {
    width: 65.72265625vw;
  }
}

@media (min-width: 777px) {
  .featured-article {
    --multiplicator: 1;
    --line-count: 4;
  }
}

@media (min-width: 869px) {
  .featured-article {
    --line-count: 5;
    --multiplicator: 1;
  }
}

@media (min-width: 1115px) {
  .featured-article {
    --multiplicator: 1.25;
  }
}

@media (min-width: 1440px) {
  .featured-article {
    --multiplicator: 1.5;
  }
}

@media (min-width: 1920px) {
  .featured-article {
    --multiplicator: 1.75;
  }
}
