.news-article {
  --line-count: 3;
  --multiplicator: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
  margin: 0px -10px;
}

.news-article:nth-child(odd) {
  background-color: hsl(var(--color-even));
}

.news-article__date {
  color: hsl(var(--color-placeholder));
}

.news-article__text {
  margin: 0;
  padding: 0;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-count);
  -webkit-box-orient: vertical;
  height: calc(var(--line-count) * var(--multiplicator) * var(--text-line-height));
  font-size: calc(var(--multiplicator) * var(--text-font-size));
  line-height: calc(var(--multiplicator) * var(--text-line-height));
}

.news-article__tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-wrap: wrap;
}

@media (width >= 640px) {
  .news-article__text {
    width: calc(100% - 20px);
  }
}
