.partner {
  width: 100%;
  padding: 20px 25px;
}

.partner__logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.partner__image {
  width: 270px;
  height: 78px;
}

@media (width >= 640px) {
  .partner__logo {
    flex-direction: row;
    flex-wrap: wrap;
  }
}