.placement {
  padding: 12px;
}

.placement:nth-child(even) {
  background-color: hsl(var(--color-even));
}

.placement__date {
  color: hsl(var(--color-caption));
}

.placement__information {
  height: 42px;
  padding: 0px;
  margin: 5px 0px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 268px;
}

@media (width >= 640px) {
  .placement__information {
    width: calc(100% - 20px);
  }
}
