.speaker-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.speaker-article__image {
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  min-width: 60px;
}

.speaker-article__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
}

.speaker-article__name {
  margin: 0;
  padding: 0;
}

/* .speaker-article__tag-list {}
.speaker-article__tag {} */
