.speaker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.speaker__image {
  overflow: hidden;
  background-color: aqua;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  min-width: 60px;
}

.speaker__information {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}