:root {
  color-scheme: dark;

  /* Elements */
  --color-primary: 0 2% 87%;
  --color-text: 0 2% 87%;
  --color-caption: 0 3% 93%;
  --color-even: 0 5% 15%;
  --color-accent: 0 97% 41%;
  --color-background: 0 0% 0%;
  --color-done: 108 70% 42%;
  --color-in-progress: 38 77% 41%;
  --color-assigned: 295 70% 42%;
  --color-canceled: 7 70% 42%;
  --color-disabled: 0 4% 32%;
  --color-placeholder: 0 2% 45%;

  /* Accents */
  --color-blue-accent: 193 90% 31%;
  --color-green-accent: 153 88% 23%;
  --color-yellow-accent: 39 93% 35%;
  --color-magenta-accent: 292 100% 44%;
}
