:root {
  /* Font Families */
  --font-family-regular: 'Roboto';
  --font-family-semi-bold: 'Roboto SemiBold';
  --font-family-mono-regular: 'Roboto Mono';
  --font-family-mono-bold: 'Roboto Mono Bold';
  --font-family-mono-light: 'Roboto Mono Light';

  /* Font Weights */
  --caption-font-weight: 700; /* Bold */
  --input-font-weight: 400; /* Normal */
  --title-font-weight: 700; /* Bold */
  --value-font-weight: 300; /* Light */
  --text-font-weight: 400; /* Normal */
  --tag-font-weight: 400; /* Normal */
  --strong-font-weight: 600; /* Semi Bold */
  --menu-font-weight: 400; /* Normal */

  /* Font Sizes */
  --caption-font-size: 14px;
  --input-font-size: 16px;
  --title-font-size: 20px;
  --value-font-size: 10px;
  --text-font-size: 16px;
  --tag-font-size: 12px;
  --strong-font-size: 16px;
  --menu-font-size: 18px;

  /* Font Line Hights */
  --caption-line-height: calc(4 / 3);
  --input-line-height: calc(5 / 4);
  --title-line-height: calc(6 / 5);
  --value-line-height: 2;
  --text-line-height: calc(7 / 6);
  --tag-line-height: calc(6 / 5);
  --strong-line-height: calc(7 / 6);
  --menu-line-height: calc(3 / 4);

  --font-size: var(--text-font-size);
  --font-line-height: calc(var(--text-line-height) / var(--text-font-size));
  --font-family: 'Roboto';
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto'),
        url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto SemiBold';
  src:  local('Roboto SemiBold'),
        url('/fonts/Roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-SemiBold.woff') format('woff'),
        url('/fonts/Roboto/Roboto-SemiBold.ttf') format('ttf');
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  local('Roboto Mono'),
        url('/fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
        url('/fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
        url('/fonts/RobotoMono/RobotoMono-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Mono Bold';
  src:  local('Roboto Mono Bold'),
        url('/fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
        url('/fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
        url('/fonts/RobotoMono/RobotoMono-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto Mono Light';
  src:  local('Roboto Mono Light'),
        url('/fonts/RobotoMono/RobotoMono-Light.woff2') format('woff2'),
        url('/fonts/RobotoMono/RobotoMono-Light.woff') format('woff'),
        url('/fonts/RobotoMono/RobotoMono-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}
