{% from "blocks/news-article.njk" import news with context %}

<main class="news-details">
  <section id="list" class="news-details__section news-details__section--list">
    <h1 class="news-details__heading title">Новости по тегу «{{ tagInfo.label }}»</h1>
    {% for item in newsList %}
      {{ news('news-details__news', item) }}
    {% endfor %}
  </section>
</main>
