{% from "blocks/banner.njk" import banner with context %}
{% from "blocks/news.njk" import news with context %}
{% from "blocks/calendar.njk" import calendar with context %}
{% from "blocks/section.njk" import section with context %}
{% from "blocks/speaker.njk" import speaker with context %}
{% from "blocks/placement.njk" import placement with context %}
{% from "blocks/archive.njk" import archive with context %}
{% from "blocks/partner.njk" import partner with context %}
{% from "blocks/document.njk" import document with context %}

<main class="index">
  <h1 class="index__title">Hello World!</h1>
</main>