{% from "blocks/banner.njk" import banner with context %}
{% from "blocks/news.njk" import news with context %}
{% from "blocks/calendar.njk" import calendar with context %}
{% from "blocks/section.njk" import section with context %}
{% from "blocks/speaker.njk" import speaker with context %}
{% from "blocks/placement.njk" import placement with context %}
{% from "blocks/archive.njk" import archive with context %}
{% from "blocks/partner.njk" import partner with context %}
{% from "blocks/document.njk" import document with context %}

 {% 
   set items = [
     { tag: 'Пленарный доклад', label: 'Некоторые значимые достижения российских ученых в области информационных технологий', url: '/1', hint: 'Описание', image: 'images/banners/d1.png' }, 
     { tag: 'Пленарный доклад', label: 'Основные направления устойчивого развития предприятий радиоэлектронного комплекса в 2020–2030 годы', url: '/1', hint: 'Описание', image: '/images/banners/d2.png' },
     { tag: 'Пленарный доклад', label: 'Фракталы, метаповерхности, системы РСА и MIMO: перспективы развития и стратегия технологий', url: '/1', hint: 'Описание', image: '/images/banners/d3.png' }
   ] 
 %}

  {% 
   set mainItem = [
     { label: ' ных технологий', url: '/1', hint: 'Описание', image: 'images/banners/main.png' }
   ] 
 %}

<main class="index">
  <h1 class="index__title">Hello World!</h1>
</main>
