{% from "blocks/featured-article.njk" import featured with context %}
{% from "blocks/calendar-article.njk" import calendar with context %}
{% from "blocks/news-article.njk" import news with context %}
{% from "blocks/section-article.njk" import section with context %}
{% from "blocks/speaker-article.njk" import speaker with context %}
{% from "blocks/accommodation-article.njk" import accommodation with context %}
{% from "blocks/archive-list.njk" import archive with context %}
{% from "blocks/partner-link.njk" import partner with context %}
{% from "blocks/document-list.njk" import document with context %}

<main class="index">
  <section id="header" class="index__section index__section--header">
    <div class="index__header-cover">
      <picture>
        <source
          srcset="
            {{ mainImage.url }}.337w.avif 512w,
            {{ mainImage.url }}.674w.avif 1024w,
            {{ mainImage.url }}.1348w.avif 2048w,
            {{ mainImage.url }}.2022w.avif 3072w
          "
          type="image/avif"
        >
        <source
          srcset="
            {{ mainImage.url }}.337w.webp 512w,
            {{ mainImage.url }}.674w.webp 1024w,
            {{ mainImage.url }}.1348w.webp 2048w,
            {{ mainImage.url }}.2022w.webp 3072w
          "
          type="image/webp"
        >
        <source
          srcset="
            {{ mainImage.url }}.337w.jpg 512w,
            {{ mainImage.url }}.674w.jpg 1024w,
            {{ mainImage.url }}.1348w.jpg 2048w,
            {{ mainImage.url }}.2022w.jpg 3072w
          "
          type="image/jpeg"
        >
        <img class="index__image" src="{{ mainImage.url }}.1348w.jpg" alt="{{ mainImage.title }}">
      </picture>
    </div>
    <div class="index__header-aside">
      <h1 class="index__title caption">
        {{ documentTitle | safe }}<br>
        <span class="index__subtitle">{{ documentSubTitle | safe }}</span>
      </h1>
      <p class="index__caption">
        {{ documentDescription | safe }}
      </p>
      <p class="index__location">
        {{ documentLocation | safe }}
      </p>
      {% if actionInfo %}
        <a class="index__action" href="{{ actionInfo.url }}" title="{{ actionInfo.title }}">
          {{ actionInfo.label }}
        </a>
      {% endif %}
    <div>
  </section>
  {% if featuredPapers and featuredPapers.length > 0 %}
    <section id="featured" class="index__section index__section--featured">
      {% for item in featuredPapers %}
        {{ featured('index__featured-paper', item) }}
      {% endfor %}
    </section>
  {% endif %}
  {% if timeLine and timeLine.length > 0 %}
    <section id="calendar" class="index__section index__section--calendar">
      <h2 class="index__heading title">Календарь</h2>
      {% for item in timeLine %}
        {{ calendar('index__calendar', item) }}
      {% endfor %}
    </section>
  {% endif %}
  {% if documentItems and documentItems.length > 0 %}
    <section id="documents" class="index__section index__section--documents">
      <h2 class="index__heading title">Документы</h2>
      {{ document('index__document', documentItems) }}
    </section>
  {% endif %}
  {% if newsList and newsList.length > 0 %}
    <section id="news" class="index__section index__section--news">
      <h2 class="index__heading index__heading--no-bottom title">Новости</h2>
      {% for item in newsList %}
        {{ news('index__news', item) }}
      {% endfor %}
    </section>
  {% endif %}
  {% if sections and sections.length > 0 %}
    <section id="sections" class="index__section index__section--sections">
      <h2 class="index__heading title">Секции</h2>
      {% for item in sections %}
        {{ section('index__news', item) }}
      {% endfor %}
    </section>
  {% endif %}
  {% if speakers and speakers.length > 0 %}
    <section id="speakers" class="index__section index__section--speakers">
      <h2 class="index__heading title">Спикеры</h2>
      {% for item in speakers %}
        {{ speaker('index__speaker', item) }}
      {% endfor %}
    </section>
  {% endif %}
  {% if partners and partners.length > 0 %}
    <section id="partners" class="index__section index__section--partners">
      <h2 class="index__heading title">Партнеры</h2>
      <div class="index__partners">
        {% for item in partners %}
          {{ partner('index__speaker', item) }}
        {% endfor %}
      </div>
    </section>
  {% endif %}
  {% if accommodations and accommodations.length > 0 %}
    <section id="accommodation" class="index__section index__section--accommodation">
      <h2 class="index__heading title">Размещение</h2>
      {% for item in accommodations %}
        {{ accommodation('index__accommodation', item) }}
      {% endfor %}
    </section>
  {% endif %}
  {% if archiveList and archiveList.length > 0 %}
    <section id="archive" class="index__section index__section--archive">
      <h2 class="index__heading title">Архив</h2>
      {{ archive('index__archive', archiveList) }}
    </section>
  {% endif %}
</main>
