{% from "blocks/news-article.njk" import news with context %}

<main class="news-list">
  {% if newsList and newsList.length > 0 %}
    <section id="list" class="news-list__section news-list__section--list">
      <h1 class="news-list__heading title">Новости</h1>
      {% for item in newsList %}
        {{ news('news-list__news', item) }}
      {% endfor %}
    </section>
  {% endif %}
</main>
