{% from "blocks/banner-article.njk" import banner with context %}
{% from "blocks/breadcrumbs.njk" import breadcrumbs with context %}

<main class="speaker">
  <div class="speaker__section speaker__section--breadcrumbs tag">
    {{ breadcrumbs('speaker__breadcrumbs', breadcrumbsItems) }}
  </div>
  <section class="speaker__section speaker__section--speaker">
    <article class="speaker__profile">
      <div class="speaker__image">
        <picture >
          <source
            srcset="
              {{ speakerItem.image }}.avif 1x,
              {{ speakerItem.image }}@2x.avif 2x,
              {{ speakerItem.image }}@3x.avif 3x
            "
            type="image/avif"
          >
          <source
            srcset="
              {{ speakerItem.image }}.webp 1x,
              {{ speakerItem.image }}@2x.webp 2x,
              {{ speakerItem.image }}@3x.webp 3x
            "
            type="image/webp"
          >
          <source
            srcset="
              {{ speakerItem.image }}.jpg 1x,
              {{ speakerItem.image }}@2x.jpg 2x,
              {{ speakerItem.image }}@3x.jpg 3x
            "
            type="image/jpeg"
          >
          <img class="speaker__image speaker__image--w140" src="{{ speakerItem.image }}.jpg" alt="{{ speakerItem.alt }}">
        </picture>
      </div>

      <h1 class="speaker__name title">
        {{ speakerItem.name }}
      </h1>

      <p class="speaker__position text">
        {{ speakerItem.position }}
      </p>
    </article>
  </section>

  <section class="speaker__section speaker__section--reports">
    <h2 class="speaker__heading title">Доклады</h2>

    <div class="speaker__reports">
      {% for item in bannersItems %}
        {{ banner('speaker__reports-item', item) }}
      {% endfor %}
    </div>
  </section>
  </section>
</main>
