{% from "blocks/button.njk" import button with context %}
{% from "blocks/tag.njk" import tag with context %}

{% macro banner(item, isMainBanner=false) %}
  <section class="banner">
    {% if isMainBanner %}
     <div class="banner__image banner__image__hidden">
        <picture>
          <source srcset="{{item.image}}">
          <img src="{{ item.image }}" alt="Тут будет картинка">
        </picture>
      </div>
      <div class="banner__main">
        <h1 class="banner__title_size_50">
          RLNC*2025
        </h1>
        <h2 class="banner__label_size_24">
          Радиолокация </br> Навигация  </br> Связь
        </h2>
        <span class="caption">
          XXXI Международная </br> научно-техническая конференция
        </span>
        <span class="caption">
         г. Воронеж
        </span>
        <div class="banner__button">
          {{ button('Подать доклад', '/', 'Вы можете подать свой доклад на конференцию' )}}
        </div>
      <div>
    {% else %}
      <div class="banner__image">
        <picture>
          <source srcset="{{ item.image }}">
          <img src="{{ item.image }}" alt="Тут будет картинка">
        </picture>
      </div>
      <div class="banner__default">
        <p class="banner__label">
          {{ item.label }}
        </p>
        <div class="banner__tag">
          {{ tag(item.tag) }}
        </div>
      </div>
    {% endif %}
  </section>
{% endmacro %}
