{%  macro breadcrumbs(parentClass, items) %}
  <aside class="{{ parentClass }} breadcrumbs-aside">
     {% for item in items %}
        {% if item.isLink %}
          <a class="breadcrumbs-aside__link tag" href="{{ item.url }}" title="{{ item.title }}">{{ item.label }}</a>
        {% else %}
          <span class="breadcrumbs-aside__link breadcrumbs-aside__link--nolink tag">{{ item.label }}</span>
        {% endif %}
        <span class="breadcrumbs-aside__slash">/</span>
     {% endfor %}
  </aside>
{% endmacro %}
