{%  macro calendar(item) %}
  <article class="calendar">
    <h3 class="calendar__title title">
      {{ item.title }}
    </h3> 
    <p class=" text"> 
      {{ item.text }}
    </p>
  </article>
{% endmacro %}