{% from "blocks/tag-link.njk" import tag with context %}

{% macro featured(parentClass, item) %}
  <article class="{{ parentClass }} featured-article">
    <a class="featured-article__link" href="{{ item.url }}">
      <picture>
        <source
          srcset="
            {{ item.src }}.100w.avif 320w,
            {{ item.src }}.200w.avif 430w
          "
          media="(max-width: 639px)"
          type="image/avif"
        >
        <source
          srcset="
            {{ item.src }}.674w.avif 1024w,
            {{ item.src }}.1348w.avif 2048w,
            {{ item.src }}.2022w.avif 3072w
          "
          media="(min-width: 640px)"
          type="image/avif"
        >
        <source
          srcset="
            {{ item.src }}.100w.webp 320w,
            {{ item.src }}.200w.webp 430w
          "
          media="(max-width: 639px)"
          type="image/webp"
        >
        <source
          srcset="
            {{ item.src }}.674w.webp 1024w,
            {{ item.src }}.1348w.webp 2048w,
            {{ item.src }}.2022w.webp 3072w
          "
          media="(min-width: 640px)"
          type="image/webp"
        >
        <source
          srcset="
            {{ item.src }}.100w.jpg 320w,
            {{ item.src }}.200w.jpg 430w
          "
          media="(max-width: 639px)"
          type="image/jpeg"
        >
        <source
          srcset="
            {{ item.src }}.674w.jpg 1024w,
            {{ item.src }}.1348w.jpg 2048w,
            {{ item.src }}.2022w.jpg 3072w
          "
          media="(min-width: 640px)"
          type="image/jpeg"
        >
        <img class="featured-article__image" src="{{ item.src }}.1348w.jpg" alt="{{ item.src.title }}">
      </picture>
      <div class="featured-article__aside">
        <h3 class="featured-article__label title">
          {{ item.label }}
        </h3>
        <div class="featured-article__tag-list">
          {% for t in item.tags %}
            {{ tag('featured-article__tag', t) }}
          {% endfor %}
        </div>
      </div>
    </a>
  </article>
{% endmacro %}
