{% from "blocks/tag.njk" import tag with context %}

{% macro news(item) %}
  <article class="news">
    <div class="news__date tag">
       {{ item.time }}
    </div>
    <p class="news__information text">
      {{ item.text }}
    </p>
    <div class="news__tags">
      {% for tg in item.tags %}
        {{ tag(tg.label, true)}}
      {% endfor %}
    </div>
  </article>
{% endmacro %}
