{% from "blocks/tag-link.njk" import tag with context %}

{% macro news(parentClass, item) %}
  <article class="{{ parentClass }} news-article">
    <time class="news-article__date tag" datetime="{{ item.updated }}">
       {{ item.time }}
    </time>
    <p class="news-article__text text">
      {{ item.text }}
    </p>
    <div class="news-article__tag-list">
      {% for tg in item.tags %}
        {{ tag('news-article__tag', tg, true)}}
      {% endfor %}
    </div>
  </article>
{% endmacro %}
