{% from "blocks/tag.njk" import tag with context %}

{% macro news(title, time, tags) %}
  <article class="news">
    <div class="news__date tag">
       {{ time }}
    </div>
    <p class="news__information text">
      {{ title }}
    </p>
    <div class="news__tags">
      {% for item in tags %}
        {{ tag(item.label, true)}}
      {% endfor %}
    </div>
  </article>
{% endmacro %}