{% macro partner(item) %}
  <article class="partner">
    <picture>
      <source srcset="{{ item.image }}">
      <img width="270" height="83" src="{{ item.image }}" alt="{{ item.title }}">
    </picture>
  </article>
{% endmacro %}
