{% macro partner(image, title) %}
  <article class="partner">
    <picture>
      <source srcset="{{ image }}">
      <img width="270" height="83" src="{{ image }}" alt="{{ title }}">
    </picture>
  </article>
{% endmacro %}