{% macro placement(title, text, price) %}
  <article class="placement">
    <div class="placement__title strong">
       {{ title }}
    </div>
    <p class="placement__information text">
      {{ text }}
    </p>
    <div class="placement__price tag">
      от {{ price }} р.
    </div>
  </article>
{% endmacro %}