{% macro placement(item) %}
  <article class="placement">
    <div class="placement__title strong">
       {{ item.title }}
    </div>
    <p class="placement__information text">
      {{ item.text }}
    </p>
    <div class="placement__price tag">
      от {{ item.price }} р.
    </div>
  </article>
{% endmacro %}
