{% macro section(title, description) %}
  <article class="section text">
    <span class="section__title">{{ title }}</span>
    <span class="section__description">{{ description }}</span>
  </article>
{% endmacro %}