{% macro section(item) %}
  <article class="section text">
    <span class="section__title">{{ item.title }}</span>
    <span class="section__description">{{ item.description }}</span>
  </article>
{% endmacro %}
