{% from "blocks/tag.njk" import tag with context %}

{%  macro speaker(title, image, tagName) %}
  <article class="speaker">
    <div class="speaker__image" aria-hidden="true">
      <img height="60" width="60" src="{{ image }}" alt="фото">
    </div>
    <div class="speaker__information">
      <div class="caption">{{ title }}</div>
      {{ tag(tagName) }}
    </div>
  </article>
{% endmacro %}