{% macro tag(parentClass, tagInfo, isHash=false) %}
  <a class="{{ parentClass }} tag-link {{ 'tag-link--hash' if isHash }} tag" href="/news/tags/{{ tagInfo.url }}" title="{{ tagInfo.title }}">
    {{ tagInfo.label }}
  </a>
{% endmacro %}
