{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}

<!DOCTYPE html>
<html class="base" lang="en">
  <head>
    {% include 'meta.njk' %}
  </head>
  <body class="base__body">
    {{ header('base__header') }}
    {{ content | safe }}
    {{ footer('base__footer') }}
  </body>
</html>
