---
layout: base.njk
---

{% from "blocks/news-article.njk" import news with context %}
{% from "blocks/tag-link.njk" import tag with context %}

<main class="news-details">
  <section id="details" class="news-details__section news-details__section--details">
    {{ content | safe }}
     <div class="news-details__tag-list">
      {% for t in newsTags %}
        {{ tag('news-details__tag', t, true)}}
      {% endfor %}
    </div>
  </section>
  {% if newsList and newsList.length > 0 %}
    <section id="list" class="news-details__section news-details__section--list">
      <h2 class="news-details__heading title">Новости</h2>
      {% for item in newsList %}
        {{ news('news-details__news', item) }}
      {% endfor %}
    </section>
  {% endif %}
</main>
